@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --background: #ffffff;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; 
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

